// 优化显示
html, body {
  margin: 0px;
  height: 100%;
  font-family: $font-family-sans;
  #app {
    @extend %full;
    a {
      text-decoration: none;
    }
  }
}
code, pre {
  font-family: $font-family-monospace;
}