/* Functional Color */
$--color-primary: #1F75CB;
$--color-success: #A989F5;
$--color-warning: #FC6D26;
$--color-danger: #E24329;
$--color-info: #A2A1A6;

/* Font Color */
$--color-text-primary: #303133;
$--color-text-regular: #333238;
$--color-text-secondary: #333238;
$--color-text-placeholder: #89888D;

/* Border Color */
$--border-color-base: #BFBFC3;
$--border-color-light: #E4E7ED;
$--border-color-lighter: #DCDCDE;
$--border-color-extra-light: #F2F6FC;

/* 改变 icon 字体路径变量，必需 */
$--font-path: 'element-ui/lib/theme-chalk/fonts';