// 主色
$color-primary: #1F75CB;

// 辅助色
$color-info: #A2A1A6;
$color-success: #A989F5;
$color-warning: #FC6D26;
$color-danger: #E24329;

// 文字
$color-text-main: #303133;
$color-text-normal: #333238;
$color-text-sub: #333238;
$color-text-placehoder: #89888D;

// 边框
$color-border-1: #BFBFC3;
$color-border-2: #E4E7ED;
$color-border-3: #DCDCDE;
$color-border-4: #F2F6FC;

// 背景
$color-bg: #f8f8f9;

