// Element Tab
$element-tab-padding: 10px;
$element-tab-height: 30px;

/* Element Menu */
// $element-menu-side-height: 32px;
$element-menu-side-height: 42px;
$element-menu-side-popup-height: $element-menu-side-height;
// $element-menu-side-icon-size: 16px;
$element-menu-side-icon-size: 20px;
$element-menu-side-collapse-icon-size: 24px;
$element-menu-top-icon-size: 25px;
$element-menu-header-height: 40px;
$frame-padding-right: 0px;