.theme-#{$theme-name} {
    @import './color.scss';
    @import 'element-ui/packages/theme-chalk/src/index.scss';
    @import '@/assets/style/fixed/element.scss';
    @import '@/assets/style/fixed/el-animations.scss';
    .d2-layout-header-aside-group {
        height: 100%;
        width: 100%;
        min-width: 900px;
        background-size: contain;
        background-position: top left;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
    }
}