// 过渡动画 横向渐变
.fade-transverse-leave-active,
.fade-transverse-enter-active {
  transition: all .5s;
}
.fade-transverse-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transverse-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// 过渡动画 页面弹出
.fade-popup-leave-active {
  // transition: all .5s;
}
.fade-popup-enter-active {
  transition: transform .3s ease, opacity .2s;
}
.fade-popup-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-popup-leave-to {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0s;
}

// 过渡动画 缩放渐变
.fade-scale-leave-active {
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fade-scale-enter-active {
  transition: all .01s ease;
}
.fade-scale-enter {
  opacity: 0;
  transform: scale(.98);
}
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(.8);
}

.fade-mask-leave-active {
  transition: opacity .3s;
}
.fade-mask-enter-active {
  transition: opacity .1s;
}
.fade-mask-enter {
  opacity: 0;
}
.fade-mask-leave-to {
  opacity: 0;
}
